* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    
}

.project {
    display: block;
    font-size: 20px;
    padding-top: 30px;
    margin-top: 0;
}

.type {
    display:  inline-block;
    padding: 0.125em 1em;
    color: white;
    border-radius: 1em;
    font-size: 18px;
}

#software {
    background-color: purple;
}

#in-dev {
    background-color: red;
}

#prototype {
    background-color: blue;
}

#unfinished {
    background-color: black;
}

#game {
    background-color: green;
}

#engine {
    background-color: brown;
}

#jam {
    background-color: yellow;
    color: black;
}

#platform {
    background-color: grey;
}

#language {
    background-color: orange;
}

.container {
    font-size: 16px;
    margin-left: 20%;
    margin-right: 20%;
}

.container h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.container h2 {
    font-family: 'Roboto', sans-serif;
}

.container hr {
    margin-top: 2em;
}

.nav-bar {
    background:  #cccccc;
    padding: 0.1em;
    display: block;

}

.nav-bar h1 {
    color: white;
    font-weight: bold;
    z-index: 50;
    padding-bottom: 10px;
    margin-left: 20%;
    margin-right: 64%;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}

.project a {
    margin-right: 20px;
    font-weight: bold;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

#description {
    color: #999;   
    font-size: 19px;
    margin-left: 1em;
    margin-top: 0.2em;
}

div.nav-bar { 
    background-image: url("codyyys.png");
    flex: 100%;
}

.me {
    margin-left:  20%;
    margin-right:  20%;
}

.kdo {
    font-weight: bold;
    font-size: 18px;
}

li {
    padding: 5px;
}


a {
   margin-left: 30px;
}

.obrazky1  {
    position: absolute;
    margin-left: 430px;
    width: 25%;
    bottom: 16.2%;
}

.obrazky2 {
    position: absolute;
    margin-left: 430px;
    width: 22.1%;
    height: 22.3%;
    top: 84.2%;


}

.obrazky3 {
    border: 3px solid black;
    top: 106.9%;
    position: absolute;
    margin-left: 430px;
    width: 8.2%;
    height: 21.6%;

}

.obrazky4 {
    border: 3px solid black;
    top: 106.9%;
    position: absolute;
    margin-left: 590px;
    width: 13.4%;
    height: 100px;

}

.obrazky5 {
    border: 3px solid black;
    top: 117.6%;
    position: absolute;
    margin-left: 590px;
    width: 13.4%;
    height: 102px;

}

.obrazky6 {
    position: absolute;
    margin-left: 430px;
    top: 129.7%;
    width: 22.1%;
    height: 230px;


}
